[Unit]
Description=Hyperledger Fabric Orderer
After=network.target docker.service

[Service]
Type=simple
ExecStart=/home/rtikes/bin/orderer
WorkingDirectory=/home/rtikes/Blockchain-Distributed-IDS/ids/blockchain
Environment=FABRIC_CFG_PATH=/home/rtikes/Blockchain-Distributed-IDS/ids/blockchain/config-orderer
User=rtikes
Restart=always
RestartSec=5s
SyslogIdentifier=fabric-orderer

[Install]
WantedBy=multi-user.target

